.todo-item {
    background-color: var(--background);
    box-shadow: var(--main-shadow) -15px;
    display: flex;
    align-items: center;
    font-size: 5vw;
    position: relative;
}
.todo-item__new-message {
    width: 100vw;
    padding-left: clamp(20px, calc(20px + 8vw + 4px), 100px);
    padding-left: 24px;
    display: flex;
    align-items: center;
}
.todo-item__input {
    font-family: inherit;
    font-size: 5vw;
    padding: 5px 0 5px 0;
    height: calc(8vw + 10px);
    width: calc(100vw - clamp(20px, calc(40px + 8vw + 4px), 100px));
    border: none;
    outline: none;
    background-color: transparent;
}
.todo-item__input-arrow {
    width: 8vw;
    transform: scale(1.5);
    animation: start-fade 0.3s ease forwards;
}
.todo-item__body {
    padding: 5px 0 5px;
    padding-right: clamp(20px, calc(20px + 10vw), 100px);
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    transition: 0.2s;
    width: 100vw;
}
.todo-item__text {
    display: flex;
    align-items: center;
    line-height: 6vw;
}
.todo-item__checkbox {
    width: 8vw;
    height: 8vw;
    margin-right: 4px;

    animation: start-fade 0.3s ease forwards;
}
.todo-item__checkbox-inner {
    width: 8vw;
    height: 8vw;
}

.todo-item__delete-back {
    opacity: 0.9;
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: var(--brightRed);
    padding-left: 10px;
    position: relative;
    z-index: 4 !important;
}
.todo-item__reorder-btn {
    position: absolute;
    transition: 0.3s;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
}
