.todo-item {
    background-color: var(--background);
    box-shadow: var(--main-shadow) -15px;
    display: flex;
    align-items: center;
    font-size: 5vw;
    position: relative;
}
.todo-item__input {
    font-family: inherit;
    resize: none;
    font-size: 5vw;
    padding: 7px 0 7px 18px;
    padding-left: clamp(20px, calc(20px + 10vw), 100px);
    width: 100vw;
    border: none;
    outline: none;
    background-color: transparent;
}
.todo-item__body {
    padding: 7px 0 7px;
    padding-right: clamp(20px, calc(20px + 10vw), 100px);
    padding-left: clamp(20px, calc(20px + 10vw), 100px);
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    width: 100vw;
}
.todo-item__checkbox {
    width: 8vw;
    height: 8vw;

    position: absolute;
    z-index: 100;
    transition: 0.3s;
    left: 20px;
    top: 2px;
    top: 50%;
    transform: translateY(-50%);
    align-self: center;
}
.todo-item__checkbox-inner {
    width: 8vw;
    height: 8vw;
}

.todo-item__delete-back {
    opacity: 0.9;
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: var(--brightRed);
    padding-left: 10px;
    position: relative;
    z-index: 4 !important;
}
.todo-item__reorder-btn {
    position: absolute;
    transition: 0.3s;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
}
