.todo-list {
    list-style: none;
    padding: 18px 0 calc(18vw + 28px) 0;
}
.todo-list__add-btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    box-shadow: var(--main-shadow);
    background-color: var(--brightCyan);
    border: none;
    font-size: 12vw;
    display: flex;
    align-items: center;
    color: var(--white);
    justify-content: center;
    max-width: 90px;
    max-height: 90px;
    overflow: hidden;
}
