.todo-page {
    height: 100%;
}
.todo-page__empty-img {
    width: 60%;

    height: 100%;
    margin: 0 auto;
    /* padding: 12vw 0 24vw; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: start-fade 0.5s ease forwards;
}
#empty-icon {
    height: 100%;
}
.todo-page__empty-img > svg {
    opacity: 0.2;
}
.todo-page__empty-img > h2 {
    opacity: 0.3;
}
.todo-page__list {
    animation: start-fade 0.3s ease forwards;
    list-style: none;
    padding: 18px 0 calc(18vw + 28px) 0;
}

@keyframes start-fade-empty-icon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.2;
    }
}
.todo-page__add-btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    box-shadow: var(--main-shadow);
    background-color: var(--brightCyan);
    border: none;
    font-size: 12vw;
    display: flex;
    align-items: center;
    color: var(--white);
    justify-content: center;
    max-width: 90px;
    max-height: 90px;
    overflow: hidden;
}
