.themes-page {
}
.themes-page__body {
    padding: 18px;
}
.themes-page__item {
}
.themes-list {
}
.themes-list__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.themes-list__icon {
    fill: var(--foreground);
    height: 8vw;
    width: 8vw;
    margin-right: 10px;
}
.themes-list__column {
    padding: 12px;
    display: grid;
    row-gap: 20px;
}
.pallet {
    border: none;
    display: inline-flex;
    width: min-content;
    border-radius: 16px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.pallet--selected {
    box-shadow: 0px 0px 0px 1.5vw var(--foreground);
}

.theme-pallet {
    height: 16vw;
    display: inline-grid;
    grid-template-columns: repeat(5, 12vw);
}
.theme-pallet__name {
    font-size: 5vw;
    font-weight: 500;
    font-family: monospace;
    text-transform: lowercase;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    filter: brightness(0.5);
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.theme-pallet__color {
}
