.container-with-swipe {
    overflow: hidden;
    height: 100%;
}
.container-with-swipe__body {
    /* float: right; */
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
    transition: transform 0.15s;
}
