@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* "name": "Gruvbox Light" */
    --background: #fbf1c7;
    --selectionBackground: #d5c4a1;
    --foreground: #282828;

    --black: #fbf1c7;
    --blue: #076678;
    --cyan: #427b58;
    --green: #79740e;
    --purple: #8f3f71;
    --red: #9d0006;
    --white: #3c3836;
    --yellow: #b57614;

    --brightBlack: #9d8374;
    --brightBlue: #458588;
    --brightCyan: #689d69;
    --brightGreen: #98971a;
    --brightPurple: #b16186;
    --brightRed: #cc241d;
    --brightWhite: #7c6f64;
    --brightYellow: #d79921;
}

html,
body,
#root {
    height: 100vh;
}
body {
    font-size: 24px;
    color: var(--foreground);
    background-color: var(--background);
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
